
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
 
.container {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.4);
    background-color: white;
    overflow: hidden;
    justify-content: space-between;
    padding: 0 45px;
}
 
.image-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    padding: 20px;
    margin: 0 20px;
}
 
.image-section img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}
 
.message {
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 24px;
    margin-top: 24px;
}
 
.about-us {
    background-color: #f2f2f2ec;
    padding: 20px 40px;
    position: relative;
    margin-bottom: 20px;
}
 
.about-us::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: #3fbe0d;
    left: 0;
    top: 0;
}
 
 
.about-us h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
    color: #333;
}
 
.about-us p1 {
    color: #888;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.6;
}

.about-us h4 a {
    font-size: 15px;
    color: #54d32e;
    text-decoration: none;
    font-weight: 550;
}
 
.buttons-section {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
 
.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}
 
button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #51c255;
    color: white;
    border: none;
    cursor: pointer;
}
 
.buttons button:first-child {
    background-color: #8cc63f;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 0;
}
 
.buttons button:last-child {
    background-color: transparent;
    color: #7cb630;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    margin-right: 0;
}
 
.buttons-section p2 {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 20px;
}
 
.message02 {
    margin: 14px 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: #353434;
}